@charset "UTF-8";

body{
    font-family: 'Noto Sans Japanese', sans-serif;
    
}
li {
    list-style: none;
}

.header-logo {
    height: 100px;
}

.top-page {
    text-align: center;
}
.answerList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.answerList li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.fade-enter-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to{
    opacity: 0;
}
